<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input required type="text" placeholder="Person ID" [(ngModel)]="personID"></ion-input>
  </ion-item>
  <ion-button (click)="onClick()" [disabled]="isLoading">submit</ion-button>
  <div *ngFor="let member of memberList">
    <p>
      {{ member.ID }} <br>
      {{ member.FirstName }} {{ member.LastName }} <br>
      {{ member.Address1 }} <br>
      {{ member.Address2 }} <br *ngIf="member.Address2">
      {{ member.City }}<span [hidden]="!member.City">,</span> {{ member.State }} {{ member.Zip }} <br>
    </p>
  </div>
  <ion-spinner *ngIf="isLoading" style="top: 300px; left: 76px;"></ion-spinner>
  <div>
    <p>
      {{ errorMessage }}
    </p>
    <p hidden="true">
      {{ rawData }}
    </p>
  </div>
</ion-content>
